---
import { Picture } from "astro:assets";
import SectionContainer from "@components/SectionContainer.astro";
import photo from "./photo.jpg";
import AboutText from "./AboutText.md";
---

<SectionContainer id="about-me" bgColor="var(--color-bg-tan)">
  <div class="size-constraint">
    <div class="layout">
      <Picture
        src={photo}
        alt="Alternate image of myself"
        widths={[1500, 1000, 680, 450, 300]}
        sizes="50vw"
      />
      <h2>About Me</h2>
      <div class="content">
        <AboutText />
      </div>
    </div>
  </div>
</SectionContainer>

<style>
  .size-constraint {
    margin-left: var(--size-fluid-2);
    margin-right: var(--size-fluid-2);
  }

  .layout > :global(picture) {
    display: none;
  }

  h2 {
    font-family: var(--accent-font);
    font-weight: bolder;
    font-size: var(--font-size-fluid-2);
  }

  .content {
    margin-top: var(--size-fluid-2);
    max-inline-size: var(--size-content-2);
  }

  @media (--lg-n-above) {
    .size-constraint {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .layout {
      width: 100%;
      max-width: var(--max-section-width);

      display: grid;
      align-content: center;
      justify-content: space-between;
      grid-template-areas:
        ". img"
        "header img"
        "description img"
        ". img";
      grid-template-rows: 1fr auto auto 1fr;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--size-fluid-4);
    }

    .layout > :global(picture) {
      display: block;
      grid-area: img;
      width: 25rem;
      place-self: end;
    }

    h2 {
      grid-area: header;
    }

    .content {
      grid-area: description;
    }
  }
</style>
