---
import SectionContainer from "@components/SectionContainer.astro"
import Role from './Role.astro';
---

<SectionContainer id="experience">
  <div class="layout">
    <h2>Relevant Experience</h2>
    <ul class="roles-list">
      <Role />
      <Role />
      <Role />
    </ul>
  </div>
</SectionContainer>