<section>
  <h2>Sample Work</h2>
  <ul>
    <li>
      <h3>Volusion's Page Builder</h3>
      <p>
        Improved performance, maintainability, and test coverage by gradually implementing a structured cache system.
      </p>
    </li>
    <li>
      <h3>Phunware's Content Management Engine</h3>
      <p>
        Led architecture of a UI revamp, reverse engineering the data model of a legacy product.
      </p>
    </li>
    <li>
      <h3>GMTK Game Jam Team Finder</h3>
      <p>
        Led UI architecture for an open source project with a volunteer team.

      </p>
      <p><a href="https://github.com/GameMakersToolkit/team-finder">Check out the code!</a></p>
    </li>
  </ul>
</section>

<style>
  section {
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    min-height: var(--section-height);
  }

  h2 {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: var(--font-size-5);
    text-align: center;
    padding: var(--size-fluid-5) 0;
  }
</style>