---
import Layout from '../layouts/Layout.astro';
import AboutMeSection from '@components/sections/AboutMe/AboutMeSection.astro';
import MoreSkillsSection from '@components/sections/MoreSkills/MoreSkillsSection.astro';
import SampleWorkSection from '@components/sections/SampleWork/SampleWorkSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<AboutMeSection />
		<MoreSkillsSection />
		<SampleWorkSection />
	</main>
</Layout>