---
import Layout from "../layouts/Layout.astro";
import SplashSection from "@components/sections/Splash/SplashSection.astro";
import AboutMeSection from "@components/sections/AboutMe/AboutMeSection.astro";
import ExperienceSection from "@components/sections/Experience/ExperienceSection.astro";
import SkillsSection from "@components/sections/Skills/SkillsSection.astro";
import MoreSkillsSection from "@components/sections/MoreSkills/MoreSkillsSection.astro";
import SampleWorkSection from "@components/sections/SampleWork/SampleWorkSection.astro";
import RecommendationsSection from "@components/sections/Recommendations/RecommendationsSection.astro";
import ContactSection from "@components/sections/Contact/ContactSection.astro";
import CareerSection from "@components/sections/Career/CareerSection.astro";
---

<Layout
  title="Dallon Feldner, Senior Software Engineer. React and TypeScript Expert"
>
  <main>
    <SplashSection />
    <AboutMeSection />
    <CareerSection client:idle />
    <ExperienceSection />
    <SkillsSection />
    <MoreSkillsSection />
    <SampleWorkSection />
    <RecommendationsSection />
    <ContactSection />
  </main>
</Layout>
