---
import Layout from '../layouts/Layout.astro';
import AboutMeSection from '@components/sections/AboutMe/AboutMeSection.astro';
import ExperienceSection from '@components/sections/Experience/ExperienceSection.astro';
import SkillsSection from '@components/sections/Skills/SkillsSection.astro';
import MoreSkillsSection from '@components/sections/MoreSkills/MoreSkillsSection.astro';
import SampleWorkSection from '@components/sections/SampleWork/SampleWorkSection.astro';
import RecommendationsSection from '@components/sections/Recommendations/RecommendationsSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<AboutMeSection />
		<ExperienceSection />
		<SkillsSection />
		<MoreSkillsSection />
		<SampleWorkSection />
		<RecommendationsSection />
	</main>
</Layout>