---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SampleWorkSection from '@components/sections/SampleWork/SampleWorkSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<SampleWorkSection />
	</main>
</Layout>