---
export interface Props {
  bgColor?: string;
  id: string;
  padding?: boolean;
}

const { id, bgColor = 'var(--color-bg-light)', padding = true } = Astro.props as Props;
---

<section id={id} class:list={{ padding }}>
  <slot />
</section>

<style define:vars={{ 'section-bg-color' : bgColor }}>
  section {
    background-color: var(--section-bg-color);
    min-height: var(--section-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .padding {
    padding-top: var(--size-fluid-5);
    padding-bottom: var(--size-fluid-5);
  }
</style>