---
import SectionContainer from "@components/SectionContainer.astro"
import ReactExperience from "./ReactExperience.astro";
---

<SectionContainer id="skills" padding={false}>
  <div class="layout">
    <div class="react-side">
      <h2 style="margin-bottom: var(--size-fluid-1)">Skills & Proficiencies</h2>
      <ReactExperience />
    </div>
    <div class="other-side" />
  </div>
</SectionContainer>

<style>
  .layout {
    flex: 1;
    display: grid;
  }

  .react-side {
    /* hardcode react bg color */
    background: #222222;
    color: var(--color-text-light);
    background-image: url(./react.svg);
    background-size: 10.0rem 8.9rem;
    background-repeat: no-repeat;
    background-position: bottom -1.9rem left -1.9rem;
    padding-top: var(--size-fluid-2);
    padding-left: var(--size-fluid-4);
    padding-right: var(--size-fluid-4);
    padding-bottom: 6rem;
  }

  h2 {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: var(--font-size-fluid-2);
  }

  @media (--lg-n-above) {
    .layout {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>