---
import SectionContainer from "@components/SectionContainer.astro";
import SkillsList from "@components/SkillsList.astro";
import { lookupSkillsList } from "@components/skillsListUtils";
import ReactExperience from "./ReactExperience.astro";

const icons = import.meta.glob("./logos/*.{svg,png}");

const toolingIcons = await lookupSkillsList(
  [
    ["Vite", "vite.png"],
    ["Webpack", "webpack.png"],
    ["ESLint", "eslint.png"],
    ["GitHub Actions", "github-actions.png"],
  ],
  icons
);

const backendIcons = await lookupSkillsList(
  [
    ["Node.js", "node.png"],
    ["Fastify", "fastify.png"],
    ["Express", "express.png"],
    ["PostgreSQL", "postgres.svg"],
    ["AWS", "aws.svg"],
  ],
  icons
);
---

<SectionContainer id="skills" padding={false}>
  <div class="layout">
    <h2 class="heading">Skills & Proficiencies</h2>
    <div class="react-bg"></div>
    <div class="react-side">
      <ReactExperience />
    </div>
    <div class="other-side">
      <div class="other-section">
        <h3>Tooling</h3>
        <p>Good tools and pipelines make the whole team more effective!</p>
        <SkillsList skills={toolingIcons} />
      </div>
      <div class="other-section">
        <h3>Back-End</h3>
        <p>While I specialize in UI development, I can also work full-stack!</p>
        <SkillsList skills={backendIcons} />
        <p class="more">plus MySQL, Ruby on Rails, PHP, Java, Spring, and more</p>
      </div>
    </div>
  </div>
</SectionContainer>

<style>
  .layout {
    flex: 1;
    display: grid;
    grid-template: [react-bg-start] "heading" "react" [react-bg-end other-bg-start] "other" [other-bg-end] / [react-bg-start other-bg-start] 1fr [react-bg-end other-bg-end];
  }

  h2 {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: var(--font-size-fluid-2);
  }

  .heading {
    margin-top: var(--size-fluid-2);
    grid-area: heading;
    padding-left: var(--size-fluid-2);
    padding-right: var(--size-fluid-2);
    color: var(--color-text-light);
    z-index: 2;
  }

  .react-bg {
    grid-column: react-bg-start / react-bg-end;
    grid-row: react-bg-start / react-bg-end;
    /* hardcode react bg color */
    background: #222222;
    background-image: url(./react.svg);
    background-size: 10rem 8.9rem;
    background-repeat: no-repeat;
    background-position: bottom -1.9rem left -1.9rem;
  }

  .react-side {
    grid-area: react;
    color: var(--color-text-light);
    padding-top: var(--size-fluid-2);
    padding-left: var(--size-fluid-2);
    padding-right: var(--size-fluid-2);
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  .other-side {
    grid-area: other;
    padding: var(--size-fluid-2);
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-4);
  }

  .other-section h3 {
    text-transform: uppercase;
    font-family: var(--accent-font);
    font-weight: bold;
  }

  .other-section p {
    color: var(--color-text-darkish);
    max-inline-size: var(--size-content-2);
  }

  .more {
    margin-top: var(--size-fluid-1);
    font-size: var(--font-size-00);
  }

  @media (--lg-n-above) {
    .layout {
      --half-section: calc(var(--max-section-width) / 2);
      grid-template:
        [react-bg-start other-bg-start] ". heading . ." ". react other ." [react-bg-end other-bg-end] /
        [react-bg-start] 1fr min(50%, var(--half-section))
        [react-bg-end other-bg-start] min(50%, var(--half-section))
        1fr [other-bg-end];
    }
  }
</style>
