---
import { Picture } from "@astrojs/image/components";
import SectionContainer from "@components/SectionContainer.astro";
import photo from "./photo.jpg";
---

<SectionContainer id="contact" bgColor="#060606">
  <div class="sizing-container">
    <div class="layout">
      <h2>Get in touch</h2>
      <Picture src={photo} alt="A photo of Dallon being a bit silly" sizes={"(min-width: 758px) 50vw, 100vw"} widths={[1500, 1000, 600, 400, 200]}
      />
      <div class="contact-info">
        <div class="name">Dallon Feldner</div>
        <button type="button" class="eemayl-reveal" id="eemayl-reveal"
          >Click to show contact information.
        </button>
        <div class="explanation" id="eemayl-explanation">
          (sorry for the hassle, but I have to keep the bots at bay!)
        </div>
      </div>
      <div class="social">
        <h3>Connect with me</h3>
        <ul>
          <li>
            <a href="https://github.com/dallonf" aria-label="GitHub"
              ><i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/dallonf/" aria-label="LinkedIn"
              ><i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</SectionContainer>

<script>
  const replaceWith = "ZGFsbG9uZmRldkBnbWFpbC5jb20=";

  const btn = document.getElementById("eemayl-reveal")!;
  btn.addEventListener("click", (e) => {
    const newLink = document.createElement("a");
    const replacementText = atob(replaceWith);
    newLink.text = replacementText;
    newLink.href = `mailto:${replacementText}`;
    newLink.classList.add("eemayl-hidden-link");
    btn.replaceWith(newLink);
    document.getElementById("eemayl-explanation")!.remove();
  });
</script>

<style>
  .layout {
    margin-left: var(--size-fluid-2);
    margin-right: var(--size-fluid-2);
    color: var(--color-text-light);
  }

  h2 {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: var(--font-size-fluid-1);
  }

  picture {
    margin-top: var(--size-fluid-1);
  }

  .contact-info {
    margin-top: var(--size-fluid-4);
  }

  .name {
    font-family: var(--accent-font);
    font-weight: bold;
  }

  .eemayl-reveal {
    margin-top: var(--size-1);
    display: inline-block;
    background: var(--gray-9);
    border: none;
    color: var(--color-text-light);
    padding: var(--size-1) var(--size-2);
    cursor: pointer;
  }

  .eemayl-reveal:is(:hover, :focus) {
    background: var(--gray-8);
  }

  :global(.eemayl-hidden-link) {
    color: var(--color-text-light);
  }

  .explanation {
    margin-top: var(--size-1);
    font-size: var(--font-size-00);
  }

  .social {
    margin-top: var(--size-fluid-4);
  }

  h3 {
    font-family: var(--accent-font);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-size-0);
  }

  .social ul {
    margin-top: var(--size-1);
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-3);
  }

  .social a {
    font-size: var(--font-size-5);
    color: var(--color-text-light);
  }

  @media (--md-n-above) {
    .sizing-container {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .layout {
      flex: 1;
      max-width: var(--max-section-width);
      display: grid;
      grid:
        "img . ." minmax(var(--size-fluid-4), 1fr)
        "img . heading"
        "img . ." minmax(var(--size-fluid-4), 1fr)
        "img . contact-info"
        "img . ." minmax(var(--size-fluid-4), 1fr)
        "img . social"
        "img . ." minmax(var(--size-fluid-4), 1fr)
        / 30vh var(--size-fluid-4) 1fr;
    }

    picture {
      margin: 0;
      grid-area: img;
      align-self: stretch;
      display: flex;
    }

    picture :global(img) {
      object-fit: cover;
      height: auto;
      width: 100%;
    }

    h2 {
      margin: 0;
      grid-area: heading;
    }

    .contact-info {
      margin: 0;
      grid-area: contact-info;
    }

    .social {
      margin: 0;
      grid-area: social;
    }
  }
</style>
