---
import '@fontsource/clear-sans';
import '@fontsource/dm-sans';
import 'minireset.css/minireset.css';
import 'open-props/style';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>

<body>
	<slot />
</body>

</html>
<style>
	:root {
		--main-font: 'DM Sans', system-ui, sans-serif;
		--accent-font: 'Clear Sans', system-ui, sans-serif;
		--color-text-dark: var(--gray-9);
		--color-text-light: var(--gray-0);
		--color-bg-dark: var(--gray-8);
		--color-bg-light: var(--gray-0);
		--color-bg-tan: #b4b0ab;

		--section-height: 50vh;
		--max-section-width: 80rem;
	}

	html {
		font-family: var(--main-font);
		font-size: var(--font-size-fluid-1);
		color: var(--color-text-dark);
		background-color: var(--color-bg-light);
	}

	body {
		margin: 0;
	}
</style>